.item {
    display: flex;
    margin: 1.4vw 0;
    width: 67vw;
    height: 17vw;
    background-color: white;
    border-radius: 10px;
    position: relative;
    & > img {
        height: 100%;
        width: auto;
        object-fit: cover;
    }
}

.title {
    font-size: 1.5vw;
    font-family: 'Barlow';
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
}

.content {
    width: 100%;
    margin: 1vw 0 0 2vw;
}


.ratingContainer {
    display: flex;
    align-items: center;
}

.ratingTitle {
    font-size: 'Work Sans';
    opacity: .2;
    font-size: .7vw;
}

.descriptionContainer {
    width: 62%;
    max-width: 500px;
    margin-top: 1vw;
}

.description {
    font-size: 0.7vw;
    font-family: 'Work Sans';
    color: #6B6B6B;
    margin: 0;
    overflow-y: scroll;
    height: 150px;
}

.buttons {
    display: flex;
    position: absolute;
    bottom: 1.5vw;
}

.addButton {
    background-color: transparent;
    border: 2px solid #76FF88;
    border-radius: 4px;
    color: #76FF88;
    font-size: .8vw;
    font-family: 'Work Sans';
    font-weight: 400;
    display: flex;
    align-items: center;
    padding: .4rem 1.5rem;
    cursor: pointer;
    transition: all .3s ease;
    margin-right: 2vw;
    &:hover {
        background-color: #76FF88;
        color: white;
    }
}

.buttonImage {
    height: 1vw;
    margin-right: .4rem;
}

.learnButton {
    background-color: transparent;
    border: 2px solid #FF7676;
    border-radius: 4px;
    color: #FF7676;
    font-size: .8vw;
    font-family: 'Work Sans';
    font-weight: 400;
    padding: .4rem 1.5rem;
    cursor: pointer;
    transition: all .3s ease;
    &:hover {
        background-color: #FF7676;
        color: white;
    }
}

.widget {
    height: 100%;
    width: 21%;
    position: absolute;
    right: 0;
    background-color: #EFEFEF;
    border-radius: 0 10px 10px 0;
    transition: all .4s ease;
}

.widgetContainerInfo {
    margin: 1.4vw 1.5vw 0;
    height: 37%;
    overflow-y: scroll;
}

.widgetContainerIngredients {
    position: relative;
    height: 44%;
    overflow-y: scroll;
    margin: 1.4vw 1.5vw 0;
}

.widgetTitle {
    font-family: 'Barlow';
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.1vw;
    margin: 0;
}

.widgetItems {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.widgetItem {
    position: relative;
}

.widgetItemName {
    color: #6B6B6B;
    font-weight: 300;
    font-family: 'Work Sans';
    font-size: .8vw;
}

.widgetItemValue {
    font-family: 'Work Sans';
    font-size: .8vw;
}