.registration {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.authTitle {
    font-family: 'Lovelyn';
    color: #D99E30;
    font-size: 2.8rem;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

.authSubtitle {
    font-family: 'Caveat';
    color: #D4D8FF;
    font-size: 1.8rem;
    font-weight: 300;
    margin-top: -.5rem;
    margin-left: 4rem;
}

.form {
    display: flex;
    flex-direction: column;
}

.inputContainer {
    position: relative;
}

.input {
    background-color: transparent;
    border: 1px solid #D4D8FF;
    border-radius: 3px;
    font-size: 1rem;
    font-family: 'Work Sans';
    color: #D4D8FF;
    width: 16rem;
    margin: 1rem 0;
    padding: .5rem 1rem .5rem 2.4rem;
}

.inputIcon {
    color:#D4D8FF;
    opacity: .9;
    position: absolute;
    top: 1.6rem;
    left: 0.9rem;
}

.inputLabel {
    position: absolute;
    top: 1.55rem;
    left: 2.9rem;
    color: #D4D8FF;
    font-family: 'Work Sans';
    pointer-events: none;
    transition: all .2s ease;
}

.inputButtonContainer {
    width: 100%;
    position: relative;
}

.inputButton {
    margin: 1rem 0;
    background-color: transparent;
    border: 1px solid #D99E30;
    padding: 8px 1rem;
    color: #D99E30;
    border-radius: 7px;
    font-family: 'Work Sans';
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    transition: all .2s ease;
    &::before {
        content: '';
        display: block;
        height: 100%;
        width: 1.3rem;
        background-color: #D99E30;
        position: absolute;
        top: -1px;
        left: -2rem;
        opacity: .1;
        transform: skew(-30deg);
        animation: zoom 4s normal infinite;
    }
    &:hover {
        cursor: pointer;
        background-color: #D99E30;
        color: #1D1F2F;
    }
}

@keyframes zoom {
    0% {
        left: -2rem;
    }

    50% {
        left: 105%;
    }

    100% {
        left: 105%;   
    }
}

.authSeparator {
    color: #1D1F2F;
    font-size: 2rem;
    font-family: 'Lovelyn';
    background-color: #D99E30;
    height: 4.6rem;
    width: 4.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 2rem 0;
}

.authAlt {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6rem;
}

.authAltCTA {
    font-family: 'Caveat';
    font-size: 1.3rem;
    color: #D4D8FF;
}

.authAltButton {
    background-color: transparent;
    border: none;
    font-family: 'Lovelyn';
    font-size: 2rem;
    margin: .5rem 0;
    color: #D99E30;
    text-decoration: underline;
}