.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
    }

.spoonWatermark {
    position: absolute;
    transform: rotateZ(135deg);
    width: 43vw;
    height: auto;
    top: -08vw;
    left: -13vw;
    opacity: .1;
    z-index: -1;
}

// Left Section

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.heroContent {
    min-width: 70%;
    width: 440px;
    min-height: 210px;
    margin: 2vh 15% 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.heroLogo {
    width: 4vw;
    height: auto;
}

.title {
    font-family: 'Lovelyn';
    font-size: 7vw;
    font-weight: 500;
    color: #D99E30;
    margin: 1rem 0 0;
    white-space: nowrap;
}

.description {
    font-family: 'Work Sans';
    font-size: 1.2vw;
    opacity: .8;
    font-weight: 300;
    width: 20vw;
    min-width: 250px;
    color: #D4D8FF;
    margin: 2rem 0 0;
    text-align: center ;
}

.buttonsContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 10vh;
}

.authButton, .contentButton {
    background-color: transparent;
    font-family: 'Lovelyn';
    border: none;
    font-size: 2.5vw;
    margin: 0 1vw;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s ease;
    &:hover {
        color: white;
    }
}


.authButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    bottom: 0;
}

.authButtonDecoration {
    height: 2vw;
    position: absolute;
    bottom: 3vw;
}

.authButton {
    color: #D99E30;
    &:hover {
        &::after {
            color: white;
        }
    }
    &::after {
        content: 'For free';
        display: block;
        position: absolute;
        font-family: 'Caveat';
        font-size: 1.5vw;
        color: #D4D8FF;
        bottom: -1.5vw;
        right: 3vw;
        opacity: .6;
    }
}

.contentButton {
    color: #D4D8FF;
}

// Right Section
.right {
    width: 50vw;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
}

.spacerBlock {
    width: 50vw;
    height: 100%;
}

.mascotContainer {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.mascot {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
}

.decoration {
    width: 8%;
    min-width: 12rem;
    height: 2000px;
    background-color: #D99E30;
    position: absolute;
    top: -500px;
    right: 0;
    transform: rotateZ(45deg);
}

.socialContainer {
    position: absolute;
    bottom: 0;
    right: 75%;
    height: 16.5vw;
    padding-right: 3vw;
    display: flex;
    width: fit-content;
}

.socialIconsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    &::before {
        content: '';
        display: block;
        width: 1vw;
        height: 101%;
        background-color: white;
        position: absolute;
        bottom: 0;
        border-radius: 20px 0 0 0;
        right: 0;
    }

    & > * {
        font-size: 3vw;
        color: white;
        cursor: pointer;
        transition: all .2s ease;
        &:hover {
            color: #76C8FF;
        }
    }
}

.socialTitle {
    align-self: center;
    font-family: 'Caveat';
    font-size: 3vw;
    transform: rotateZ(-90deg);
    white-space: nowrap;
    height: fit-content;
    position: relative;
    right: -2vw;
    font-weight: 300;
    color: white;
}