.heroContent {
    width: 70%;
    margin: 15% 15% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.heroLogo {
    width: 4rem;
    height: auto;
}

.title {
    font-family: 'Lovelyn';
    font-size: 5rem;
    font-weight: 500;
    color: #D99E30;
    margin: 0;
}

.description {
    font-family: 'Work Sans';
    font-size: 1.2rem;
    font-weight: 400;
    color: #D4D8FF;
    margin: 2rem 0;
    text-align: center ;
}

.heroImageContainer {
    width: 100vw;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heroImage {
    width: 100%;
    height: auto;
}

// Learn More Button
.button {
    position: absolute;
    bottom: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.buttonArrow {
    width: 0;
    height: 0;
    border-left: 3rem solid transparent;
    border-right: 3rem solid transparent;
    border-top: 4rem solid white;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.buttonTitle {
    font-family: 'Lovelyn';
    font-size: 2rem;
    font-weight: 500;
    color: white;
    margin-bottom: 3rem;
    text-align: center;
    position: relative;
    bottom: 1rem;
    animation: pulse 10s ease infinite;
}

@keyframes pulse {
    0% {
        color: white;
    }

    50% {
        color: #bec6ff;
    }

    100% {
        color: white;
    }
}

body {
    background-color: #1D1F2F;
    overflow-x: hidden;
}