.sidebarContainer {
    max-width: 400px;
    width: clamp(200px, 20vw, 400px);
    height: 100vh;
    background-color: #F1F1D4;
    position: fixed;
    left: 0;
    border-right: 3px solid #D99E30;
    z-index: 0;
    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -3;
        background-image: url(../../images/sidebarBG.jpg);
        opacity: .2;
    }
}

.head {
    margin: 1rem 2rem;
    display: flex;
    align-items: center;
    position: relative;
}

.logo {
    height: 1.8vw;
    width: auto;
    margin-right: 1rem;
}

.title {
    font-family: 'Lovelyn';
    font-size: 1.6vw;
    color: #D99E30;
}

.sidebarButtonContainer {
    width: 28px;
    height: 28px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    &:hover > .sidebarButton {
        background-color: #ffd900;
        &::before {
            background-color: #ffd900;
        }
    }
}

.sidebarButton {
    width: 2.5rem;
    height: 4px;
    background-color: #D99E30;
    transform: rotateZ(45deg);
    border-radius: 10px;
    transition: all .4s ease;
    &::before {
        content: '';
        position: relative;
        display: block;
        width: 2.5rem;
        height: 4px;
        background-color: #D99E30;
        transform: rotateZ(-90deg);
        border-radius: 10px;
        transition: all .4s ease;
    }
}

.divider {
    width: 100%;
    position: relative;
    height: 3px;
    background-color: #D99E30;
}

.list {
    list-style: none;
    padding: 3vw 2vw;
    & > li {
        margin: 1vw 0;
    }
    & > li:nth-last-child(1) {
        margin-top: 3vw;
    }
}

.linkIcon {
    width: 2vw;
}

.linkIconContact {
    width: 1.5vw ;
}

.link {
    display: flex;
    align-items: center;
    text-decoration: none;
    position: relative;
    transition: all .4s ease;
    &:hover > .linkText {
        color: #16576F;
        text-decoration: underline;
    }
}

.linkText {
    font-family: 'Caveat';
    font-size: 1.3vw;
    color: #383B3E;
    position: absolute;
    left: 2.5vw;
}

.spreadContainer {
    margin-top: 1rem;
}

.spreadSearch {
    display: flex;
    align-items: center;
}

.spreadLabel {
    font-family: 'Work Sans';
    color: #383B3E;
    opacity: .6;
    font-weight: 300;
    font-size: 1vw;
    margin-right: .5rem;
}

.spreadInputContainer {
    position: relative;
}

.spreadInput {
    border: none;
    background-color: white;
    font-size: .8vw;
    font-family: 'Work Sans';
    border-radius: 5px;
    width: 9vw;
    padding: .2rem .2rem .2rem 2rem;
}

.spreadInputContainer {
    display: flex;
    align-items: center;
}

.spreadDecoration {
    position: absolute;
    left: .4vw;
    width: .6vw;
    height: .6vw;
    border-radius: 50%;
    border: 2px solid black;
    &::before {
        content: '';
        display: block;
        position: absolute;
        width: .5rem;
        height: 2px;
        background-color: black;
        right: -.25rem;
        bottom: -.2rem;
        transform: rotateZ(45deg);
    }
}

.spreadList {
    display: flex;
    flex-wrap: wrap;
    margin: 1vw 0;
    & > button {
        margin: .3vw .2vw;
    }
}


