@font-face {
  font-family: 'Lovelyn';
  src: local('Lovelyn'), url(./fonts/Lovelyn.ttf) format('truetype');
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Accents */
.mobileDivider {
  width: 100vw;
  height: 6px;
  background-color: #D99E30;
  position: relative;
  z-index: 100-;
}

/* text */
.subTitle {
  font-family: 'Caveat';
  font-size: 2rem;
  font-weight: 400;
  color: #D4D8FF;
  margin: -.3rem 0 0;
}

/* Layouts */
.sectionLayout {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}